<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- QuietInbox is an offline product: INTERNET is explicitly removed even if a
         transitive dependency tries to add it. -->
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />

    <application
        android:name=".QuietInboxApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuietInbox">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.QuietInbox">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
